html {
  font-family: verdana, 'helvetica neue', helvetica, arial, sans-serif;
}

body,
#map {
  width: 100%;
  height: 100%;
  margin: 0;
}

#error {
  display: none;
  position: absolute;
  top: 10px;
  width: 100%;
  z-index: 1000;
  background-color: transparent;
}

#error > div {
  width: 400px;
  background-color: white;
  margin: 0 auto;
  text-align: center;
}

#error.show {
  display: block;
}
