html {
  font-family: verdana, sans-serif;
  font-size: 1.5em;
}

.container {
  padding-top: 3rem;
  width: 30rem;
  margin: 0 auto 0;
}

.section {
  margin-bottom: 1em;
  display: flex;
  min-height: 3em;
}

.section-url {
  display: flex
}


button {
  font-size: 1.2rem;
  font-weight: 600;
  border: transparent;
  background: #ffde27;
  color: #000;
  border-radius: 8px;
  margin: 0;
  padding: 0 1rem
}
button:not(:disabled):hover {
  background-color: #ffa800;
  cursor: pointer;
}
button:not(:disabled):active {
  background-color: #ffed8b;
}
button:disabled {
  background-color: #ffedab;
}

#status {
  padding: 0.8rem 0.5rem;
  margin: 0;
}

#mapURL {
  width: 100%;
  font-family: menlo, courier, monospace;
  overflow: scroll;
  white-space: nowrap;
  padding: 1rem 0.5rem;
  margin: 0 auto;
  font-size: 0.8rem;
  background-color: #efefef;
  border-radius: 8px;
}

.section button:not(:first-child) {
  border-top-left-radius: 0;  
  border-bottom-left-radius: 0;  
}

.section #mapURL:not(:last-child) {
  border-top-right-radius: 0;  
  border-bottom-right-radius: 0;  
}

.section-url:hover {
  cursor: pointer
}

#logs {
  font-family: menlo, courier, monospace;
  overflow: scroll;
  white-space: nowrap;
  padding: 0.5rem;
  font-size: 0.8rem;
  background-color: #efefef;
  border-radius: 8px;
  height: 10rem;
  width: 100%;
  margin: 0 auto;
}
